.container{
    
    width: 100%;
    display: flex;
    gap: 20;
    background-color: #eee;
    justify-content: space-evenly;
    margin: auto;
    flex-wrap: wrap;

}
.container div{
    width: 20vw;
    background-color: aqua;
    height: 300px;
    margin: 10px;
}
img{
    width: 200px;
}