
a{
    margin-left: 20px;
}

nav {
    position: sticky;
    top: 0;          
    z-index: 1000; 
    background-color: white; 
    padding: 5px 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
        
}
.titulo{
    box-sizing: border-box;
    width: 100%;
    background-color: #333;
    color: #eee;
    padding: 40px;
    text-align: center;
    font-size: 30px;
}
.titulo span{
    font-size: 20px;
    background-color: #eee;
    color: #333;
    padding: 5px 10px ;
    border-radius: 10px;
}
.titulo p{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 12px;
}

.enlaces{
    flex-grow: 2;
}

.botones{
    background-color: beige;
    
}
button{
    margin-left: 10px;
    border-radius: 5px;
    padding: 10px;
    border: none;
}
button:hover{
    background-color: aqua;
}