
a{
    margin-left: 20px;
}

nav {
    position: sticky;
    top: 0;          
    z-index: 1000; 
    background-color: white; 
    padding: 5px 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
        
}

.enlaces{
    flex-grow: 2;
}

.botones{
    background-color: beige;
    
}
button{
    margin-left: 10px;
    border-radius: 5px;
    padding: 10px;
    border: none;
}
button:hover{
    background-color: aqua;
}