.titulo {
    width: 100%;
    padding: 50px 20px;
    text-align: center;
    background: linear-gradient(135deg, #222, #444);
    color: white;
    /*
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    */
}

.titulo h1 {
    font-size: 42px;
    font-weight: 700;
    margin: 0;
    letter-spacing: 1px;
}

.titulo h1 span {
    background: white;
    color: #444;
    padding: 6px 12px;
    font-size: 22px;
    border-radius: 10px;
    margin-left: 10px;
}

.titulo p {
    margin-top: 10px;
    font-size: 18px;
    opacity: 0.9;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .titulo h1 {
        font-size: 30px;
    }

    .titulo p {
        font-size: 16px;
    }
}
