

.img{
    width: 100px;
    height: 100px;
    background-color: aqua;
    border-radius: 50px;

}
.tarjeta{
    background-color: #333;
    width: 20vw;
    padding: 20px;
    border-radius: 20px;
    color: #eee;
}