header{
    box-sizing: border-box;
    display: flex;
    margin-top: 0;
    border-radius: 50px;
    align-items: center;
}
nav{
    display: flex;
    width: 90%;
    border-radius: 40px;
    padding: 20px 10px;
    
}
.logo-navbar{
    width: 50px;
}
.informacion{
    margin-top: 20px;
    width: 100%;
    background-color: #ddd;
    height: 100px;
    align-content: center;
    border-radius: 30px;
}
p{
    margin-left: 40px;
    font-size: 2rem;
    font-weight: bolder;
}
.contenido-administrador{
    display: flex;
    flex-direction: column;
    width: 90vw;
    align-content: center;
    margin: auto;
    margin-top: 20px;
    
}
a{
    border-radius: 10px;
    background-color: #eee;
    margin: 10px;
    color: #333;
    text-decoration: none;
    padding: 10px;
}
.contenido{
    width: 80%;
    margin: auto;
}
a:hover{
    background-color: #ddd;
}
button{
    background-color: #333;
    color: #eee;
    font-weight: bolder;
    padding: 5px;
    width: 5vw;
    align-self: flex-end;
    border-radius: 5px;
}
