.navbar-admin {
    width: 100%;
    color: #1f1f1f;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-navbar {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
}

.navbar-admin h2 {
    margin: 0;
    font-size: 1.7rem;
    letter-spacing: 1px;
}

.btn_salir {
    padding: 10px 18px;
    border-radius: 30px;
    background-color: #1a1a1a;
    color: #eee;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn_salir:hover {
    background-color: #666;
    transform: scale(1.05);
}

/* Contenedor general */
.contenido-administrador {
    width: 90vw;
    margin: auto;
    margin-top: 20px;
}

.contenido {
    width: 80%;
    margin: auto;
}
