<div class="contenido_desarrolladores">
    <div *ngFor="let p of proyectos" class="card">
        <div class="item-desarrolladores" >
            <div>
                <h3>{{p.titulo}}</h3>
                <p> {{p.descripcion}}</p>
                <div class="complemento">
                    <span>Tecnologias usadas: </span>
                    <ul>
                        <li *ngFor="let t of p.tecnologias" class="tec">{{ t }}</li>
                    </ul>

                </div>
                <button (click)="saludar()"> Editar</button>
                <button (click)="saludar()"> Eliminar</button>
            </div>
        </div>
    </div>
</div>
