.contenido_desarrolladores{
    width: 90%;
    display: column; 
}

.item-desarrolladores{
    width: 100%;
    
    border-radius: 30px;
    box-sizing: border-box;
    padding: 20px;
    margin: 20px;
    background-color: #eee;
}
.complemento{
    display: flex;
    align-items: center;
    justify-self: flex-end;
}
.tec{
    margin-left: 10px;
    background-color: aqua;
    padding: 5px;border-radius: 30%;
}
button{
    margin: 10px;
}