.container__inicio-sesion{
    margin: auto;
    margin-top: 60px;
    width: 60vw;
    display: flex;
    background-color: #eee;
}
.container__inicio-sesion div{
    background-color: #333;
    color: #eee;
    width: 60%;
    align-content: center;
}
form{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 30px;
}
.cerrar{
    margin: 0;
    background-color: #333;
    align-self: flex-end;
    width: 20px;
    color: #eee;
    font-weight: bolder;

}
input{
    border: none;
    padding: 5px;
    border-bottom: 2px solid #333;
    background-color: transparent;
}
input,h2,label{
    margin: 10px;
    width: 70%;
}
.iniciar{
    margin: 30px 80px;
    background-color: #222;
    color: #eee;
    width: 20%;
    padding: 5px;
    border-radius: 10px;
    align-self: flex-end;

}
div p{
    font-size: 30pt;
    margin-left: 30px;
    font-weight: bold;
}
span{
    margin:40px 30px;

}