section{
    margin: auto;
    width: 60vw;
    background-color: #eee;
    
}
.proyects{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
}

.proyects div{
    width: 30%;
    background-color: aqua;
}
.container_contenido-proyectos{
    margin: auto;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 30%;
    background-color: #333;
    color: #eee;
    height: 200px;
    border-radius: 10%;
    margin: 10px;
}
.imagen-proyecto{
    width: 100%;
    height: 70%;
    object-fit: cover;
}
ul{
    display: flex;
    
}
li{
    margin-left: 5px;
}